{% extends "events/base.html" %}
{% block content %}
    <h1>Home Page</h1>
    {% for event in events %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h4>Event by <a class="mr-2" href="#">{{event.organizer}}</a></h4>
            </div>
            <h3><a class="article-title" href="{% url 'events-detail' event.id%}">{{event.title}}</a></h3>
            <p class="article-content">{{event.description}}</p>
            <small class="text-muted">{{event.start_date}} - {{event.end_date}}</small>
          </div>
        </article>
    {% endfor %}
{% endblock content %}